 

 
 /* Center the image */
 .centre {
    
    width: 20em;
    height: 20em;
    border-radius: 49%;
    overflow: hidden;
    
    display:inline-block;
    
    margin-top: 1ch;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    position: relative;
    
    
}

.centreDiv{
    text-align: center;
    background-color: inherit;  
}

            
.background {

    background: radial-gradient(circle at 10% 20%, rgb(251, 222, 238) 15.6%, rgb(206, 201, 226) 80.3%);
}

.MainText {
    color: pink;
    font-size: 2em;
    text-align: center;
    padding-top: 18%;
    background-color: inherit;   
    font-family: "Ubuntu", "sans-serif";
    
}
